openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Change Orders API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Change Orders
  description: Project change orders that adjust scope and budget.
paths:
  /projects/{project_id}/change_orders:
    get:
      operationId: getChangeOrdersInProject
      summary: Get Change Orders In Project
      tags:
      - Change Orders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Change order list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChangeOrder'
    post:
      operationId: createChangeOrderInProject
      summary: Create Change Order In Project
      tags:
      - Change Orders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderCreate'
      responses:
        '201':
          description: Created change order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeOrder'
components:
  schemas:
    ChangeOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        number:
          type: string
        title:
          type: string
        status:
          type: string
          enum:
          - draft
          - submitted
          - approved
          - rejected
          - void
        amount:
          type: number
          format: double
        currency:
          type: string
        submitted_at:
          type: string
          format: date-time
        approved_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChangeOrderCreate:
      type: object
      required:
      - title
      - amount
      properties:
        title:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        number:
          type: string
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
