openapi: 3.2.0
info:
  title: Fieldwire Forms Form Inputs API
  description: 'Build account-level form templates (sections, inputs, custom data types,

    statuses, permissions) and capture form records (with section records,

    values, signatures, and markups) in the field. Powers Fieldwire''s daily

    reports, safety inspections, QA/QC checklists, and any custom data

    collection workflow.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region (project-scoped form records)
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region (project-scoped form records)
- url: https://client-api.super.fieldwire.com
  description: Super Host (account-level form templates)
security:
- BearerAuth: []
tags:
- name: Form Inputs
  description: Inputs (text, number, photo, signature, choice, etc.) inside a section.
paths:
  /account/form_templates/{form_template_id}/sections/{section_id}/inputs:
    get:
      operationId: getFormTemplateSectionInputs
      summary: Get Form Template Section Inputs
      tags:
      - Form Inputs
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      - $ref: '#/components/parameters/SectionId'
      responses:
        '200':
          description: Input list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormTemplateInput'
    post:
      operationId: createFormTemplateSectionInput
      summary: Create Form Template Section Input
      tags:
      - Form Inputs
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      - $ref: '#/components/parameters/SectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplateInput'
      responses:
        '201':
          description: Created input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTemplateInput'
components:
  parameters:
    FormTemplateId:
      name: form_template_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    SectionId:
      name: section_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    FormTemplateInput:
      type: object
      properties:
        id:
          type: integer
          format: int64
        section_id:
          type: integer
          format: int64
        name:
          type: string
        kind:
          type: string
          enum:
          - text
          - number
          - boolean
          - choice
          - multi_choice
          - date
          - time
          - datetime
          - photo
          - signature
          - attachment
        is_required:
          type: boolean
        data_type_id:
          type: integer
          format: int64
        position:
          type: number
          format: double
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
