openapi: 3.2.0
info:
  title: Fieldwire RFIs and Submittals Spec Sections API
  description: 'Track Requests for Information (RFIs), submittals, submittal types, spec

    sections, attachments, markups, watchers, approvals, and submittal log

    extraction across construction projects.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region
security:
- BearerAuth: []
tags:
- name: Spec Sections
  description: Specification sections used to organise submittals.
paths:
  /projects/{project_id}/spec_sections:
    get:
      operationId: getSpecSectionsInProject
      summary: Get Spec Sections In Project
      tags:
      - Spec Sections
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Spec section list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpecSection'
components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    SpecSection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        number:
          type: string
        title:
          type: string
        division:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
