openapi: 3.2.0
info:
  title: Fieldwire Forms Form Sections API
  description: 'Build account-level form templates (sections, inputs, custom data types,

    statuses, permissions) and capture form records (with section records,

    values, signatures, and markups) in the field. Powers Fieldwire''s daily

    reports, safety inspections, QA/QC checklists, and any custom data

    collection workflow.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region (project-scoped form records)
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region (project-scoped form records)
- url: https://client-api.super.fieldwire.com
  description: Super Host (account-level form templates)
security:
- BearerAuth: []
tags:
- name: Form Sections
  description: Section structure within a form template.
paths:
  /account/form_templates/{form_template_id}/sections:
    get:
      operationId: getFormTemplateSections
      summary: Get Form Template Sections
      tags:
      - Form Sections
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      responses:
        '200':
          description: Section list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormTemplateSection'
    post:
      operationId: createFormTemplateSection
      summary: Create Form Template Section
      tags:
      - Form Sections
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplateSection'
      responses:
        '201':
          description: Created section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTemplateSection'
components:
  parameters:
    FormTemplateId:
      name: form_template_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    FormTemplateSection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        form_template_id:
          type: integer
          format: int64
        name:
          type: string
        position:
          type: number
          format: double
        is_repeatable:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
