openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Project Users API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Project Users
  description: User membership, roles, and removal across projects.
paths:
  /projects/{project_id}/users:
    get:
      operationId: getProjectUsers
      summary: Get Project Users
      tags:
      - Project Users
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project user list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectUser'
    post:
      operationId: createProjectUser
      summary: Invite Project User
      tags:
      - Project Users
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUserCreate'
      responses:
        '201':
          description: Project user invited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUser'
components:
  schemas:
    ProjectUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        role:
          type: string
          enum:
          - admin
          - member
          - follower
        email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectUserCreate:
      type: object
      required:
      - email
      - role
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - admin
          - member
          - follower
        team_id:
          type: integer
          format: int64
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: Project identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
