openapi: 3.2.0
info:
  title: Fieldwire Project Financials Actual Costs API
  description: 'Project financial endpoints for budget management, actual cost tracking,

    tier cost codes, and change orders. Available to Business Plus customers

    on the Fieldwire by Hilti platform.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region
security:
- BearerAuth: []
tags:
- name: Actual Costs
  description: Actual cost entries logged against budget lines.
paths:
  /projects/{project_id}/actual_costs:
    get:
      operationId: getActualCostsInProject
      summary: Get Actual Costs In Project
      tags:
      - Actual Costs
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Actual cost list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActualCost'
    post:
      operationId: createActualCostInProject
      summary: Create Actual Cost In Project
      tags:
      - Actual Costs
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualCostCreate'
      responses:
        '201':
          description: Created actual cost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActualCost'
components:
  schemas:
    ActualCostCreate:
      type: object
      required:
      - budget_line_item_id
      - amount
      properties:
        budget_line_item_id:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        currency:
          type: string
        incurred_at:
          type: string
          format: date-time
        description:
          type: string
    ActualCost:
      type: object
      properties:
        id:
          type: integer
          format: int64
        budget_line_item_id:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        currency:
          type: string
        incurred_at:
          type: string
          format: date-time
        description:
          type: string
        created_at:
          type: string
          format: date-time
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
