openapi: 3.2.0
info:
  title: Fieldwire Plans and Sheets Hyperlinks API
  description: 'Upload PDF drawing sets, manage sheet versioning and floorplan hierarchies,

    organise plans into collections, calibrate scale, and attach Building

    Information Models (BIM) with versioned object trees. Used by general

    contractors, architects, and specialty contractors to keep the latest

    drawings in the field.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region
security:
- BearerAuth: []
tags:
- name: Hyperlinks
  description: Single and multi-hyperlink jumps between sheets.
paths:
  /projects/{project_id}/hyperlinks:
    get:
      operationId: getHyperlinksInProject
      summary: Get Hyperlinks In Project
      tags:
      - Hyperlinks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Hyperlink list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hyperlink'
components:
  schemas:
    Hyperlink:
      type: object
      properties:
        id:
          type: integer
          format: int64
        source_sheet_id:
          type: integer
          format: int64
        target_sheet_id:
          type: integer
          format: int64
        label:
          type: string
        position:
          type: object
          properties:
            x:
              type: number
              format: double
            y:
              type: number
              format: double
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
