openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Sheets API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Sheets
  description: Sheet upload and version management.
paths:
  /projects/{project_id}/sheets:
    get:
      operationId: getSheetsInProject
      summary: Get Sheets In Project
      tags:
      - Sheets
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Sheet list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sheet'
    post:
      operationId: createSheetInProject
      summary: Create Sheet In Project
      description: Register a new sheet version. The underlying PDF is uploaded via the Attachments S3 token flow.
      tags:
      - Sheets
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SheetCreate'
      responses:
        '201':
          description: Created sheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
components:
  schemas:
    SheetCreate:
      type: object
      required:
      - floorplan_id
      properties:
        floorplan_id:
          type: integer
          format: int64
        sheet_number:
          type: string
        title:
          type: string
        attachment_token:
          type: string
          description: AWS POST token identifier for the uploaded PDF.
    Sheet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        floorplan_id:
          type: integer
          format: int64
        sheet_number:
          type: string
        title:
          type: string
        version:
          type: integer
        original_pdf_url:
          type: string
          format: uri
        thumb_url:
          type: string
          format: uri
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
