openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Form Inputs API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Form Inputs
  description: Inputs (text, number, photo, signature, choice, etc.) inside a section.
paths:
  /account/form_templates/{form_template_id}/sections/{section_id}/inputs:
    get:
      operationId: getFormTemplateSectionInputs
      summary: Get Form Template Section Inputs
      tags:
      - Form Inputs
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      - $ref: '#/components/parameters/SectionId'
      responses:
        '200':
          description: Input list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormTemplateInput'
    post:
      operationId: createFormTemplateSectionInput
      summary: Create Form Template Section Input
      tags:
      - Form Inputs
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      - $ref: '#/components/parameters/SectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplateInput'
      responses:
        '201':
          description: Created input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTemplateInput'
components:
  parameters:
    SectionId:
      name: section_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    FormTemplateId:
      name: form_template_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    FormTemplateInput:
      type: object
      properties:
        id:
          type: integer
          format: int64
        section_id:
          type: integer
          format: int64
        name:
          type: string
        kind:
          type: string
          enum:
          - text
          - number
          - boolean
          - choice
          - multi_choice
          - date
          - time
          - datetime
          - photo
          - signature
          - attachment
        is_required:
          type: boolean
        data_type_id:
          type: integer
          format: int64
        position:
          type: number
          format: double
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
