openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Budget Line Items API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Budget Line Items
  description: Project budget line items tied to tier cost codes.
paths:
  /projects/{project_id}/budget_line_items:
    get:
      operationId: getBudgetLineItemsInProject
      summary: Get Budget Line Items In Project
      tags:
      - Budget Line Items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Budget line item list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BudgetLineItem'
    post:
      operationId: createBudgetLineItemInProject
      summary: Create Budget Line Item In Project
      tags:
      - Budget Line Items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineItemCreate'
      responses:
        '201':
          description: Created budget line item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLineItem'
components:
  schemas:
    BudgetLineItemCreate:
      type: object
      required:
      - name
      - amount
      properties:
        name:
          type: string
        tier_cost_code:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
    BudgetLineItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        name:
          type: string
        tier_cost_code:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
