openapi: 3.2.0
info:
  title: Fieldwire Plans and Sheets Building Information Models API
  description: 'Upload PDF drawing sets, manage sheet versioning and floorplan hierarchies,

    organise plans into collections, calibrate scale, and attach Building

    Information Models (BIM) with versioned object trees. Used by general

    contractors, architects, and specialty contractors to keep the latest

    drawings in the field.

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.us.fieldwire.com/api/v3
  description: US Region
- url: https://client-api.eu.fieldwire.com/api/v3
  description: EU Region
security:
- BearerAuth: []
tags:
- name: Building Information Models
  description: BIM and BIM versions attached to a project.
paths:
  /projects/{project_id}/building_information_models:
    get:
      operationId: getBuildingInformationModelsInProject
      summary: Get Building Information Models In Project
      tags:
      - Building Information Models
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: BIM list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BuildingInformationModel'
components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    BuildingInformationModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        name:
          type: string
        latest_version_id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
