openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Projects API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Projects
  description: Project lifecycle, archival, transfer, and synchronisation.
paths:
  /projects:
    get:
      operationId: getProjects
      summary: Get Projects
      description: 'List all projects in the account. Supports filtering by status

        (`active`, `deleted`, `all`) via the `status` query parameter.

        '
      tags:
      - Projects
      parameters:
      - name: status
        in: query
        required: false
        description: Project status filter.
        schema:
          type: string
          enum:
          - active
          - deleted
          - all
          default: active
      responses:
        '200':
          description: Project list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      operationId: createProject
      summary: Create Project
      description: Create a new construction project.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Created project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /projects/{project_id}:
    get:
      operationId: getProjectById
      summary: Get Project By ID
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    patch:
      operationId: updateProjectById
      summary: Update Project By ID
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Updated project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      operationId: deleteProjectById
      summary: Delete Project By ID
      description: Soft-delete (archive) a project; restore via `restore_project_by_id`.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project archived.
  /projects/{project_id}/restore:
    post:
      operationId: restoreProjectById
      summary: Restore Project By ID
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Restored project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /projects/{project_id}/transfer:
    post:
      operationId: transferProject
      summary: Transfer Project
      description: Transfer a project from one Fieldwire account to another. Triggers a project.transferred webhook event.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - target_account_id
              properties:
                target_account_id:
                  type: integer
                  format: int64
                  description: Destination account ID.
      responses:
        '202':
          description: Transfer accepted.
components:
  schemas:
    ProjectUpdate:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        description:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        time_zone:
          type: string
        currency:
          type: string
    Project:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        code:
          type: string
        description:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        time_zone:
          type: string
        currency:
          type: string
        status:
          type: string
          enum:
          - active
          - deleted
        is_archived:
          type: boolean
        owner_account_id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        code:
          type: string
        description:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        time_zone:
          type: string
        currency:
          type: string
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: Project identifier.
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
