openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Custom Stamps API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Custom Stamps
  description: Account-level custom stamps used on markups across projects.
paths:
  /account/custom_stamps:
    get:
      operationId: getAccountCustomStamps
      summary: Get Account Custom Stamps
      tags:
      - Custom Stamps
      responses:
        '200':
          description: Custom stamp list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomStamp'
    post:
      operationId: createAccountCustomStamp
      summary: Create Account Custom Stamp
      tags:
      - Custom Stamps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomStamp'
      responses:
        '201':
          description: Created custom stamp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomStamp'
components:
  schemas:
    CustomStamp:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        attachment_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
