openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Task Check Items API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Task Check Items
  description: Sub-checklist items within a task.
paths:
  /projects/{project_id}/tasks/{task_id}/check_items:
    get:
      operationId: getCheckItemsInTask
      summary: Get Check Items In Task
      tags:
      - Task Check Items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Check item list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckItem'
    post:
      operationId: createCheckItemInTask
      summary: Create Check Item In Task
      tags:
      - Task Check Items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/TaskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckItem'
      responses:
        '201':
          description: Created check item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckItem'
components:
  schemas:
    CheckItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        task_id:
          type: integer
          format: int64
        name:
          type: string
        is_completed:
          type: boolean
        position:
          type: number
          format: double
        completed_at:
          type: string
          format: date-time
  parameters:
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
