openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Form Sections API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Form Sections
  description: Section structure within a form template.
paths:
  /account/form_templates/{form_template_id}/sections:
    get:
      operationId: getFormTemplateSections
      summary: Get Form Template Sections
      tags:
      - Form Sections
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      responses:
        '200':
          description: Section list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormTemplateSection'
    post:
      operationId: createFormTemplateSection
      summary: Create Form Template Section
      tags:
      - Form Sections
      parameters:
      - $ref: '#/components/parameters/FormTemplateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplateSection'
      responses:
        '201':
          description: Created section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTemplateSection'
components:
  schemas:
    FormTemplateSection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        form_template_id:
          type: integer
          format: int64
        name:
          type: string
        position:
          type: number
          format: double
        is_repeatable:
          type: boolean
  parameters:
    FormTemplateId:
      name: form_template_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
