openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Users API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Users
  description: Account-level user, role, and permission management.
paths:
  /account/users:
    get:
      operationId: getAccountUsers
      summary: Get Account Users
      description: List all users belonging to the authenticated Fieldwire account.
      tags:
      - Users
      responses:
        '200':
          description: Account user list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountUser'
  /account/users/{user_id}:
    get:
      operationId: getAccountUserById
      summary: Get Account User By ID
      description: Retrieve a single account user by ID.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Account user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUser'
    patch:
      operationId: updateAccountUserById
      summary: Update Account User By ID
      description: Update profile fields, role, or status for an account user.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUserUpdate'
      responses:
        '200':
          description: Updated account user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUser'
components:
  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      description: Account user identifier.
      schema:
        type: integer
        format: int64
  schemas:
    AccountUserUpdate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum:
          - owner
          - admin
          - member
          - follower
        status:
          type: string
          enum:
          - active
          - invited
          - deactivated
    AccountUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum:
          - owner
          - admin
          - member
          - follower
        status:
          type: string
          enum:
          - active
          - invited
          - deactivated
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
