openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Hyperlinks API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Hyperlinks
  description: Single and multi-hyperlink jumps between sheets.
paths:
  /projects/{project_id}/hyperlinks:
    get:
      operationId: getHyperlinksInProject
      summary: Get Hyperlinks In Project
      tags:
      - Hyperlinks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Hyperlink list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hyperlink'
components:
  schemas:
    Hyperlink:
      type: object
      properties:
        id:
          type: integer
          format: int64
        source_sheet_id:
          type: integer
          format: int64
        target_sheet_id:
          type: integer
          format: int64
        label:
          type: string
        position:
          type: object
          properties:
            x:
              type: number
              format: double
            y:
              type: number
              format: double
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
