openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Task Relations API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Task Relations
  description: Parent/child and dependency relations between tasks.
paths:
  /projects/{project_id}/task_relations:
    get:
      operationId: getTaskRelationsInProject
      summary: Get Task Relations In Project
      tags:
      - Task Relations
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Relation list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskRelation'
components:
  schemas:
    TaskRelation:
      type: object
      properties:
        id:
          type: integer
          format: int64
        source_task_id:
          type: integer
          format: int64
        target_task_id:
          type: integer
          format: int64
        kind:
          type: string
          enum:
          - parent
          - dependency
          - related
        created_at:
          type: string
          format: date-time
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
