openapi: 3.1.0
info:
  title: Fieldwire Account Actual Costs Submittals API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Submittals
  description: Submittal lifecycle, approvals, and types.
paths:
  /projects/{project_id}/submittals:
    get:
      operationId: getSubmittalsInProject
      summary: Get Submittals In Project
      tags:
      - Submittals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Submittal list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Submittal'
    post:
      operationId: createSubmittalInProject
      summary: Create Submittal In Project
      tags:
      - Submittals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmittalCreate'
      responses:
        '201':
          description: Created submittal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submittal'
components:
  schemas:
    Submittal:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        number:
          type: string
        title:
          type: string
        type:
          type: string
          description: Submittal type (e.g. shop drawing, product data, sample).
        status:
          type: string
          enum:
          - draft
          - submitted
          - in_review
          - approved
          - approved_as_noted
          - revise_and_resubmit
          - rejected
          - void
        spec_section_id:
          type: integer
          format: int64
        ball_in_court_user_id:
          type: integer
          format: int64
        due_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SubmittalCreate:
      type: object
      required:
      - title
      - type
      properties:
        title:
          type: string
        type:
          type: string
        spec_section_id:
          type: integer
          format: int64
        ball_in_court_user_id:
          type: integer
          format: int64
        due_at:
          type: string
          format: date-time
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
