openapi: 3.2.0
info:
  title: Fieldwire Account Actual Costs Attachments API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Attachments
  description: Project attachment lifecycle.
paths:
  /projects/{project_id}/attachments:
    get:
      operationId: getAttachmentsInProject
      summary: Get Attachments In Project
      tags:
      - Attachments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Attachment list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
    post:
      operationId: createAttachmentInProject
      summary: Create Attachment In Project
      description: 'Register an attachment after the binary has been uploaded to S3 via

        the POST-token flow. The `aws_post_token_id` ties the registration

        back to the previously issued token.

        '
      tags:
      - Attachments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentCreate'
      responses:
        '201':
          description: Registered attachment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  schemas:
    AttachmentCreate:
      type: object
      required:
      - aws_post_token_id
      properties:
        aws_post_token_id:
          type: integer
          format: int64
        filename:
          type: string
        content_type:
          type: string
    Attachment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        filename:
          type: string
        content_type:
          type: string
        size:
          type: integer
          format: int64
        url:
          type: string
          format: uri
        thumb_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
