openapi: 3.2.0
info:
  title: Fieldwire Account Actual Costs Tasks API
  description: 'Account-scoped (super) endpoints used to authenticate, exchange the long-lived

    API key (refresh token) for a short-lived JWT access token, and manage

    account-level users, roles, attachments, data types, custom stamps, account

    form templates, and project transfers. All requests target the global super

    host: `https://client-api.super.fieldwire.com`. Project-scoped reads/writes

    use the regional Projects API (`client-api.us.fieldwire.com` or

    `client-api.eu.fieldwire.com`).

    '
  version: v3.1
  contact:
    name: Fieldwire Developer Support
    url: https://developers.fieldwire.com/
  license:
    name: Fieldwire Terms of Service
    url: https://www.fieldwire.com/terms/
servers:
- url: https://client-api.super.fieldwire.com
  description: Global Super Host
security:
- BearerAuth: []
tags:
- name: Tasks
  description: Project task lifecycle and assignment.
paths:
  /projects/{project_id}/tasks:
    get:
      operationId: getTasksInProject
      summary: Get Tasks In Project
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Task list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
    post:
      operationId: createTaskInProject
      summary: Create Task In Project
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: Created task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /projects/{project_id}/tasks/{task_id}:
    get:
      operationId: getTaskById
      summary: Get Task By ID
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    patch:
      operationId: updateTaskById
      summary: Update Task By ID
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/TaskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: Updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    delete:
      operationId: deleteTaskById
      summary: Delete Task By ID
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '204':
          description: Task deleted.
components:
  schemas:
    TaskCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        status_id:
          type: integer
          format: int64
        priority:
          type: integer
        category:
          type: string
        floorplan_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64
        due_at:
          type: string
          format: date-time
        custom_attributes:
          type: object
          additionalProperties: true
    Task:
      type: object
      properties:
        id:
          type: integer
          format: int64
        project_id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        status_id:
          type: integer
          format: int64
        priority:
          type: integer
        category:
          type: string
        floorplan_id:
          type: integer
          format: int64
        location_id:
          type: integer
          format: int64
        team_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64
        creator_user_id:
          type: integer
          format: int64
        due_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        custom_attributes:
          type: object
          additionalProperties: true
    TaskUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status_id:
          type: integer
          format: int64
        priority:
          type: integer
        owner_user_id:
          type: integer
          format: int64
        due_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        custom_attributes:
          type: object
          additionalProperties: true
  parameters:
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send the short-lived access token returned by `POST /api_keys/jwt` as

        `Authorization: Bearer <access_token>`. Also include the

        `Fieldwire-Version` request header and `Content-Type: application/json`.

        '
